{% extends "base3.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
  </div>
</div>
<p>add two numbers</p>
<form method="get">
   <p><label for="inp01">number 1:</label>
   <input type="text" name="x1" id="inp01" size="40" ></p>
   <p><label for="inp02">number 2:</label>
   <input type="text" name="x2" id="inp02" size="40" ></p>
   
<p>
   <input type="submit" name="dopost" value="Submit"/>
   </p>
</form>
<hr>
{{ data|safe }}

{% endblock %}
