{% extends "base3.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
  </div>
</div>
<p>Pre HTML 5 input types...</p>
<form method="post">
   <p><label for="inp01">Month:</label>
   <input type="text" name="Month" id="inp01" size="40" ></p>
   <p><label for="inp02">Day:</label>
   <input type="text" name="Day" id="inp02" size="40" ></p>
   <p><label for="inp03">Year:</label>
   <input type="text" name="Year" id="inp03" size="40" ></p>
   
<p>
   <input type="submit" name="dopost" value="Submit"/>
   </p>
</form>
<hr>
{{ data|safe }}

{% endblock %}
